/*------------------------------------*\
$BREAKPOINTS
\*------------------------------------*/
/*.div {
color: pink;
@include respond-to(medium) {
color: maroon;
}
}
*/
/*------------------------------------*\
$LAYOUT
\*------------------------------------*/
/**
* Constant layout values, apart from these we can also declare values
* for different blocks sizes and more.
*/
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
* Fonts definitions
*/
/*------------------------------------*\
$COLORS
\*------------------------------------*/
/*------------------------------------*\
    BOTONES
\*------------------------------------*/
.btn, .btn__primary, .btn--m, .btn__primary--b, .btn__primary--b--default-b {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 40px;
}
.btn__primary, .btn--m, .btn__primary--b, .btn__primary--b--default-b {
  font-size: 1rem;
}
.btn__primary--b, .btn__primary--b--default-b {
  padding: 20px 32px;
}
.btn__primary--b--default-b {
  color: #ffffff;
  background-color: #B36206;
}
.btn__primary--b--default-b:hover {
  background-color: #83390B;
}
.btn__primary--b--default-b:active, .btn__primary--b--default-b:focus, .btn__primary--b--default-b:visited {
  background-color: #26201B;
}
.btn__primary--b--default-b:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #F4F3EF;
}
.btn--m {
  padding: 16px 24px;
}
.btn--s {
  font-size: 13px;
  padding: 8px 16px;
}