<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
</html><!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/style.css">
    <button class="btn__primary--large-color">Presss</button>
    <button class="btn__primary--large-color">Presss</button>
    <button class="btn__primary--medium-color">Presss</button>
    <button class="btn__primary--medium-color">Presss</button>
    <button class="btn__primary--small-color pointer-events">Presss</button>
    <button class="btn__primary--small-color">Presss</button>
    <button class="btn__primary--large-nocolor">Presss</button>
    <button class="btn__primary--large-nocolor">Presss</button>
    <button class="btn__primary--medium-nocolor">Presss</button>
    <button class="btn__primary--medium-nocolor">Presss</button>
    <button class="btn__primary--small-nocolor pointer-events">Presss</button>
    <button class="btn__primary--small-nocolor">Presss</button>
    <button class="btn__modal">Presss</button>
    <button class="btn__modal">Presss</button>
  </head>
</html></html>