include ../head/head.pug
    main
        div.card.card__color-master 
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion
                h3 Másteres
                p Promoción de hábitos alimentarios saludables