.card {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    max-width: 550px;
    height: auto;
    &__img {
        min-width: 120px;
        max-width: 140px;
        height: auto;
        object-fit: cover; 
        object-position: center;
    }
    &__border {
        border: 1px solid $c-monocromo-600;
        max-width: 468px;
        background-color: $c-monocromo-200;
    }
    &__details {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-formacion {
            @extend .card__details;
            font-size: 15px;
            color: $c-monocromo-100;
        }
        &-investigacion {
            @extend .card__details;
            color: $c-monocromo-800;
            background-color: $c-monocromo-200;
            p {
                margin-block-start: 0;
            }
            h3 {
                margin-block-end: 0.09rem;
                font-size: 15px;
            }
            }
        &-producto {
            @extend .card__details-investigacion;
            margin-block-start: 0.9rem;
            h3 { padding: 0;}
            display: inline-block;
            padding-top: 0.7rem;
        }
        
    }
    &__color-grado {
        background-color: $c-formacion-grado;
    }
    &__color-master {
        background-color: $c-formacion-master;
    }
    &__color-doctorado {
        background-color: $c-formacion-doctorado;
    }
    &__color-cursos {
        background-color: $c-formacion-profesionales;
    }
    &__color-entusiastas {
        background-color: $c-formacion-entusiastas;
    }
}

@media all and (max-with: 501px) {
    .card {
        display: none;
    }
}





