.card {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    max-width: 550px;
    height: 91px;
    &__img {
        min-width: 120px;
        max-width: 200px;
        object-fit: cover; 
        object-position: center;
    }
    &__details {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $c-monocromo-100;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__color-grado {
        background-color: $c-formacion-grado;
    }
    &__color-master {
        background-color: $c-formacion-master;
    }
    &__color-doctorado {
        background-color: $c-formacion-doctorado;
    }
    &__color-profesionales {
        background-color: $c-formacion-profesionales;
    }
    &__color-entusiastas {
        background-color: $c-formacion-entusiastas;
    }
}

@media all and (max-with: 501px) {
    .card {
        display: none;
    }
}





